<?php

return [
    'ROOT_DIR' => '',
    'OPENAI_KEY' => '',
    'DB' => [
        'HOST' => 'localhost',
        'USER' => 'root',
        'PASSWORD' => 'secret',
        'DATABASE'=> 'quiz',
    ],
    'GOOGLE' => [
        'API_KEY' => '',
        'SEARCH_ENGINE_ID' => '',
    ],
];