* {
    box-sizing: border-box;
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }

  td {
    padding: 10px;
  }

  tr:hover {
    background-color: #fafafa;
  }
  
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  
  a.back {
    background-color: #777777;
    text-decoration:none;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 6px;
  }

  a.back:hover {
    background-color: #888888;
  }

  a.answer {
    background-color: #777777;
    text-decoration:none;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    margin-top: 6px;
    width: 100%;
  }

  a.answer:hover {
    background-color: #888888;
  }

  a.primary {
    background-color: #04AA6D;
    text-decoration:none;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    margin-top: 6px;
  }

  a.back:primary {
    background-color: #45a049;
  }

  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  min-height: 100%;
  position: relative;
}

.center-container {
  text-align: center;
}

#game-content {
  padding: 20px;
}

#game-content #game-name {
  text-align: center;
  color: grey;
}

#question-header {
  text-align: center;
  font-size: 15px;
  color: grey;
}

#question-text {
  font-size: 24px;
  padding: 30px 0;
  margin: 10px;
  border-top: lightgrey solid 1px;
  border-bottom: lightgrey solid 1px;
  text-align: center;
}

#question-text img {
  margin: 10px;
}

#answers-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.answer {
  background-image: linear-gradient(to right , rgb(71, 178, 213), lightblue, rgb(71, 178, 213));
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 24px;
  padding: 10px;
  margin: 5px;
  border: none;
  border-radius: 4px;
  min-height: 75px;
  cursor: pointer;
}

.answer.not-selected:hover {
  background: rgb(71, 178, 213);
}

.answer.selected {
  background-image: linear-gradient(to right , rgb(174, 113, 0), orange, rgb(174, 113, 0));
}

.answer.correct {
  background-image: linear-gradient(to right , green, rgb(0, 186, 0), green);
}

.answer.incorrect {
  background-image: linear-gradient(to right , rgb(189, 0, 0), red, rgb(189, 0, 0));
}

#button-ready {
  background-image: linear-gradient(to right , rgb(174, 113, 0), orange, rgb(174, 113, 0));
  color: white;
  text-decoration:none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 24px;
  padding: 10px;
  margin: 5px;
  border: none;
  border-radius: 4px;
  min-height: 75px;
}

#button-ready.ready {
  background-image: linear-gradient(to right , green, rgb(0, 186, 0), green);
}

.player-row {
  background: lightgray;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 5px;
  border: none;
  border-radius: 4px;
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 1fr;
}

.player-row.correct {
  background-image: linear-gradient(to right , green, rgb(0, 186, 0), green);
  color: white;
}

.player-row.incorrect {
  background-image: linear-gradient(to right , rgb(189, 0, 0), red, rgb(189, 0, 0));
  color: white;
}

.player-row .points {
  text-align: right;
}

.player-row .pending {
  color: darkgray;
}

.player-row .ready {
  color: rgb(3, 182, 3);
  font-weight: bold;
}

#quiz-checkboxes label {
  display: block;
  background: lightgray;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px;
  margin: 5px;
  border: none;
  border-radius: 4px;
}

#quiz-checkboxes input {
  display: none;
}

#quiz-checkboxes input[type="checkbox"]:checked + label {
   background-image: linear-gradient(to right , green, rgb(0, 186, 0), green);
}

#edit-form {
  padding: 20px;
  align-items: center;
}

#edit-form .row {
  display: grid;
  grid-template-columns: 1fr 5fr;
  margin-bottom: 10px;
}

#edit-form .question img {
  margin: 10px;
}

#edit-form .row.row-2 {
  grid-template-columns: 1fr 3fr 2fr;
}

#edit-form .row label {
  margin: 10px 10px 10px 0;
}

#select-game-form {
  margin: 20px;
}

#select-game-form .row.input {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#select-game-form .row.button {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
}

#select-game-form .row.input>label {
  text-align: right;
  padding: 10px 10px 10px 0;
}

.radio-as-buttons {
  margin-top: 6px;
  display: flex;
  width: 100%;
  gap: 1px;
}

.radio-as-buttons input[type="radio"] {
  display: none;
}

.radio-as-buttons label {
  flex: 1;
  padding: 10px 0;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  color: gray;
  background-color: rgb(234, 234, 234);
}

.radio-as-buttons input[type="radio"]:checked + label {
  background-color: #04AA6D;
  color: white;
}

#game-menu {
  position: absolute;
  height: 100%;
}

#game-menu #menu-content {
  display: none;
  background-image: linear-gradient(to right , #f2f2f2, lightgray);
  position: absolute;
  padding: 20px;
  padding-top: 50px;
  height: 100%;
  min-width: 200px;
}

#game-menu a.hamburger-icon {
  display: block;
  position: absolute;
  margin: 20px;
}

#game-menu a.hamburger-icon a:hover {
  color: black;
}

@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
  #answers-list {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
  }
  #edit-form .row {
    grid-template-columns: 1fr;
  }
  #edit-form .row.row-2 {
    grid-template-columns: 1fr;
  }
  #select-game-form .row.input>label {
    text-align: left;
  }
  #select-game-form .row.input {
    grid-template-columns: 1fr;
  }
  #select-game-form .row.button {
    grid-template-columns: 1fr;
  }
}